#contato{
    background: #E6DFD8  no-repeat padding-box ;
}
#background_contato{
    position: absolute;
    width: 100%;
    height: 110%;

}
#background_contato_web{
    display: block;
    width: 100%;
    height: 100%;
}
#background_contato_mobile{
    display: none;
    width: 100%;
    height: 100%;
}

.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 110vh;
    /* padding-bottom: 150px; */
}
#titulo_section{
    margin-top: 10%;
    text-align: left;
    font-family: "Bold", "Muli";
    font-size: 40px;
    color: #E2E0DE;
    padding-left: 50px;
}
select:invalid{
    font: Italic 20px Muli;
    color: #8C0303;
    padding-left: 15px;
}

.select_options{ 
    width: 700px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 17px;
    background: url(../image/arrow_select.svg) no-repeat #eeeeee;
    -webkit-appearance: none;
    background-position-x: 95%;
} 

.contato_send{
    width: 700px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
}
.contato_text{
    text-align: left;
    font-family: "Regular", "Muli";
    font-size: 25px;
    color: #E2E0DE;
    margin-left: 55px;
    position: relative;
    top: 20px;
}
#text{
    height: 220px;
}
#send_button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    position: relative;
    left: 600px;
    text-align: center;
    font: Bold 22px Muli;
    color: #8C0303;
}
.contato_send::-webkit-input-placeholder {
    font: Italic 20px Muli;
    color: #8C0303;
    position: relative;
    left: 20px;
    opacity:70%;
}
#text::-webkit-input-placeholder {
    position: relative;
    bottom: 80px;
}

/* #gambiarra{
    background-color: #8C0303;
    width: 100%;

} */
@media(max-width:1024px){
    .contato_send{
        width: 70%;
        margin-top: 20px;
        margin-left: 50px;
    }
    .select_options{ 
        width: 70%;
        height: 40px;
        margin-top: 20px;
        margin-left: 50px;
     } 
     #send_button{
        position: relative;
        left: 60%;
     }
     #background_contato_mobile{
        display: block;
    }
    #background_contato_web{
        display: none;
    }
}
@media(max-width:800px){
    #send_button{
        position: relative;
        left: 60%;
     }

}
@media(max-width:500px){
    #send_button{
        position: relative;
        left: 30%;
     }
}
