#contato{
    background: #E6DFD8  no-repeat padding-box ;
    height: 1100px;
}
#background_contato{
    position: absolute;
    width: 100%;
    height: 1100px;

}
#background_contato_web{
    display: block;
    width: 100%;
    height: 100%;
}
#background_contato_mobile{
    display: none;
    width: 100%;
    height: 100%;
}

.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1000px;

}
#titulo_section{
    margin-top: 15%;
    text-align: left;
    font-family: "Bold", "Muli";
    font-size: 40px;
    color: #E2E0DE;
    padding-left: 50px;
}
select:invalid{
    font: Italic 20px Muli;
    color: #8C0303;
}

.select_options{ 
    width: 700px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1.2rem;
    background: url(../image/arrow_select.svg) no-repeat #eeeeee;
    -webkit-appearance: none;
    background-position-x: 95%;
    text-indent: 15px;
    outline: none;
} 

.contato_send{
    width: 700px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1.2rem;
    text-indent: 15px;
    outline: none;
}
.contato_text{
    text-align: left;
    font-family: "Regular", "Muli";
    font-size: 25px;
    color: #E2E0DE;
    margin-left: 55px;
    position: relative;
    top: 20px;
}
#text{
    height: 220px;
}
#send_button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
    font: Bold 22px Muli;
    color: #8C0303;
}
.contato_send::-webkit-input-placeholder {
    font: Italic 20px Muli;
    color: #8C0303;
    position: relative;
    opacity:70%;
}
#text::-webkit-input-placeholder {
    position: relative;
    bottom: 80px;
}
.contact-field {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media(max-width: 1500px){
    #titulo_section{
        margin-top: 20%;
    }
}

@media(max-width: 1200px){
    #titulo_section{
        margin-top: 25%;
    }
}

@media(min-width: 1024px) {
    #send_button {
        margin-left: 608px;
    }
}

@media(max-width:1024px){
    .contact {
        align-items: center;
    }
    .contato_text {
        margin-left: 0px;
    }
    .contato_send{
        width: 100%;
        margin-left: 0px;
    }
    .select_options{ 
        width: 100%;
        height: 40px;
        margin-top: 20px;
        margin-left: 0px;
     } 
     #background_contato_mobile{
        display: block;
    }
    #background_contato_web{
        display: none;
    }
    #titulo_section{
        margin-top: 30%;
        padding-left: 0;
    }
}
@media(max-width:700px){
    #titulo_section{
        margin-top: 40%;
    }
}
@media(max-width:550px){
    #titulo_section{
        margin-top: 50%;
    }
}
@media(max-width: 500px) {
    .contact-field {
        width: 80%;
    }
}
@media(max-width:450px){
    #titulo_section{
        margin-top: 60%;
    }
}
