#background_material{
    width: 100vw;
    height: auto;
    position: absolute;
    display: none
}
#fix_material{
    width: 100vw;
    height: 50px;
    position: absolute;
    background: #8C0303;
    display: none;
}

.material{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#titulo_section{
    font-family: 'Muli', sans-serif;
    color: #8C0303;
}

.conteudo_section{
    display: flex;
}
#conteudo_titulo{
    font-family: 'Muli', sans-serif;
    color: #8c0303;
    order: 3;
    margin: 0px;
    width: auto;
    height: auto;
    position: relative;
    left: 55px;
}
#conteudo_texto{
    font-family: 'Muli', sans-serif;
    height: auto;
    order: 4;
    text-align: left;
    margin-bottom: 30px;
    padding: 0px;
    position: relative;
    top: 20px;
}
#conteudo_imagem{
    width: 300px;
    height: 300px;
    order: 1;
    position: relative; 
}
#mascara_imagem_web{
    width: 300px;
    height: 300px;
    order: 1;
    position: absolute;
}
#mascara_imagem_mobile{
    width: 300px;
    height: 300px;
    order: 1;
    position: absolute;
    display: none;
}

.container_buttons{
    order: 5;
    display: flex;
    justify-content: center;

}
.button{
    width: 300px;
    height: 60px;
    background-color: #8C0303;
    border-radius: 48px;
    opacity: 1;  
    margin-right: 20px;
}
.button_style{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
.arrow_button{
    display: flex;
    justify-content: center;
    margin-top: 5%;

}
@media(max-width: 1600px){
    .container_buttons{
        padding-left: 300px;
    }
}

@media(max-width: 1024px){
    .conteudo_section{
        display: flex;
        flex-direction: column;
    }
    #titulo_section{
        display: flex;
        justify-content: center;    
}
    #conteudo_imagem{
        order: 1;
        display: flex;
        align-self: center;
    }
    #mascara_imagem_mobile{
        display: block;
        order: 1;
        display: flex;
        align-self: center;
    }
    #mascara_imagem_web{
        display: none;
    }
    #conteudo_titulo{
        order: 2;
        margin: 0px;
        width: auto;
        height: auto;
        position: relative;
        left: 0px;
        display: flex;
        align-self: center;
    }
    .container_buttons{
        padding-left: 0px;
        justify-content: flex-end;
    }
    .arrow_button{
        justify-content: flex-end;
    }
}

@media(max-width: 900px){
    #conteudo_texto{
        width: 90%;
        height: 300px;
        overflow: auto;
    }
    #conteudo_texto::-webkit-scrollbar { 
        width:10px; 
        border-radius:10px; 
        background: #FFFFFF; 
        border: 1px solid #8C0303; 
    }
    #conteudo_texto::-webkit-scrollbar-thumb { 
        border-radius:10px; 
        background:#8c0303;  
    }
    .container_buttons{
        display: flex;
        flex-direction: column;
    }
    .container_buttons{
        display: flex;
        align-items: center;
        margin-top: 5%;
        padding-left: 0px;
    }
    #button_link{
        margin-top: 2%;
    }
    
    .arrow_button{
        margin-top: 7%;
        
    }
    #arrow_down{
        width: 50px;
    }
}

