#galeria {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0%;
    background-color: black;
    position: relative;
}

#carrossel {
    width: 100%;
    height: 100vh;
    max-height: 950px;
    position: relative;
}

#imagens {
    max-height: 950px;
    height: 100vh;
    object-fit: cover;
}

.coracao_box {
    width: 90px;
    bottom: 20%;
    position: absolute;
}

.coracao_mensagem_box {
    width: 90px;
    bottom: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coracao_branco {
    width: 100%;
}

#coracao_mensagem {
    width: 100%;
}

.mensagem {
    position: absolute;
    font-family: 'Muli', sans-serif;
    color: #8c0303;
    font-weight: 600;
}

.box_seta {
    width: 3%;
    bottom: 10%;
    position: absolute;
}
.slick-track {
    height: 100vh;
}

@media (max-width: 1024px) {
    .coracao_box {
        width: 90px;
        bottom: 15%;
    }
    .coracao_mensagem_box {
        width: 290px;
        bottom: 15%;
    }
    .mensagem {
        font-size: 0.85rem;
    }

    .box_seta {
        right: 7%;
        width: 50px;
    }
}

@media (max-width: 900px) {
    .mensagem {
        font-size: 0.75rem;
    }
}

@media (max-width: 600px) {
    .mensagem {
        font-size: 0.6rem;
    }
}

@media (max-width: 320px) {
    #galeria {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0%;
        background-color: black;
        position: relative;
    }

    .coracao_box {
        width: 90px;
        bottom: 15%;
    }

    .coracao_mensagem_box {
        width: 290px;
        bottom: 15%;
    }
}