#galeria {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0%;
    background-color: black;
    position: relative;
}

#carrossel {
    width: 100%;
    height: 950px;
    position: relative;
}

#imagens {
    height: 1000px;
}

.coracao_box {
    width: 10%;
    bottom: 10%;
    position: absolute;
}

#coracao_branco {
    width: 100%;
    bottom: 10%;
}

#coracao_mensagem {
    width: 100%;
    bottom: 10%;
}

.mensagem {
    bottom: 18%;
    position: absolute;
}

.box_seta {
    width: 3.5%;
    bottom: 2%;
    position: absolute;
}