#titulo_sobre{
    text-align: center;
    font-family: "Bold", "Muli";
    font-size: 25px;
    color: #8C0303;
    position: relative;
    top: 20px;
    
}
.texto{
    width: 100%;
    display: flex;
    justify-content: center;
}
#texto_sobre{
    font-family: "Light", "Muli";
    font-size: 15px;
    text-align: left;
    width: 50%;
    height: auto;

}

.image_valor{
    width: 100px;
    height: 100x;
    position: relative;   
    
}
.gif_valor{
    width: 100px;
    height: 100px;
    position: absolute;
}


#valor_texto{
    text-align: left;
    font-family: "ExtraBold", "Muli";
    font-size: 15px;
    color: #8C0303;
}
#arrow_down_sobre{
    position: relative;
    left: 50%;
}