{% load static %}
{% load solo_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/navBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'css/sobre.css' %}">
    <link rel="stylesheet" href="{% static 'css/download.css' %}">
    <link rel="stylesheet" href="{% static 'css/contato.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>Document</title>
</head>
<body>
    <header id="navBar"></header>

    <section id="galeria"></section>
        <h2>Galeria de eventos</h2>
        <h4>AQUI VAI FICAR O CARROSSEL DE IMAGENS</h4>
        {% for imagem in imagensGaleria %}
            <img src="{{ imagem.image.url }}" alt="Imagem do evento">
        {% endfor %}
        {% get_solo 'core.MensagemCoracao' as mensagem_do_coracao %}
        <p>{{ mensagem_do_coracao.message }}</p>
        <h1>------FIM DA SEÇÃO------</h1>


    <section id="sobre"></section>
        <h2 id="titulo_sobre"> Sobre Nós </h2>
        {% get_solo 'core.SobreInstituicao' as sobre_instituicao %}
        <div class="texto"><p id="texto_sobre">{{ sobre_instituicao.sobre }} </p></div>
        {% for elemento in valores %}
        <div class="valores">
            <img class="gif_valor" src="{{ elemento.gif.url }}" alt="Gif do valor">
            
            <img class="image_valor" src="{{ elemento.image.url }}" alt="Imagem do Valor"> 
            
        </div>
        <h5 id="valor_texto">{{ elemento.valor }}</h5>
        {% endfor %}
        <a href="#download">
            <svg id="arrow_down_sobre" xmlns="http://www.w3.org/2000/svg" width="72.199" height="41.281" viewBox="0 0 72.199 41.281">
                <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M42.3,40.083,69.6,12.762a5.138,5.138,0,0,1,7.287,0,5.2,5.2,0,0,1,0,7.309L45.955,51.025a5.15,5.15,0,0,1-7.115.15L7.692,20.092a5.16,5.16,0,0,1,7.287-7.309Z" transform="translate(-6.188 -11.246)" fill="#8c0303"/>
            </svg>
        </a>
          
        <h1>------FIM DA SEÇÃO------</h1>

    <section id="download"></section>
        {% get_solo 'core.DownloadMateriais' as download_material %}
        <H2>Download do material</H2>

        <h3>{{download_material.name}}</h3>
        
        <p>{{download_material.texto |safe }}</p>

        <img src="{{ download_material.image.url }}" alt="Imagem do material">
        
        <h4>{{ download_material.arquivo }}</h4>
    
        <a href="{{ download_material.arquivoParaDownload.url }}" download="{{ download_material.name }}">
            <p>{{ download_material.arquivoParaDownload.url }}</p>
        </a>

        <h2>Link para teste</h2>
        <a href="{{ download_material.linkParaTeste }}">
            <p>Link para o teste</p>
        </a>

        <h1>------FIM DA SEÇÃO------</h1>

    <section id="contato">
        <form action="POST" id="contact-form" class="form_de_contato">
            {% csrf_token %}
            <label for="input-name">Nome:</label>
            <input type="text" name="name" id="input-name" required>

            <label for="input-mail">Email:</label>
            <input type="email" name="email" id="input-mail" required>

            <label for="input-subject">Assunto:</label>
            <input type="text" name="subject" id="input-subject" required>

            <label for="input-message">Mensagem:</label>
            <input type="text" name="message" id="input-message" required>

            <input type="submit" value="Enviar">
        </form>
        <h1>------FIM DA SEÇÃO------</h1>
    </section>

    <!-- Importação do script do Javascript para que o JQuery funcione -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{% static 'Javascript/main.js' %}"></script>
    <!-- Importação do script do Javascript para fazer a transição de imagem para gif -->
    <script type="text/javascript" src="{% static 'Javascript/sobre.js' %}"></script>
    
    
    <footer id="footer"></footer>

</body>
</html>